@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

#app {
  @apply text-text-prime bg-bg-0;
  font-family: 'Lato', sans-serif;
  font-optical-sizing: auto;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html,
body {
  margin: 0;
  /* min-width: 400px; */
  width: 100%;
  min-height: 100vh;
  /* Make html and body take up the full height of the viewport */
  /* Remove default margin */
  /* overflow: hidden; */
  /* Keep your existing overflow rule */
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  /* scroll-snap-type: y proximity;
  scroll-snap-stop: normal; */
}
